body {
    background:#2a363b;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background: #e84a5f
}

.assignment img{
    width: 200px;
    margin-right: 10px;
    border:2px solid #ff847c;
}


h1{
    color:#fecea8;
    text-align:center;
}

a{
    text-decoration: none;
    color: #99b898
}